@import './color-vars.scss';

$transition-parameters: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

.dvc-card {
	padding: 10px;
	background-color: #fff;
	border-radius: 2px;

	&--bordered {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}

	&--dp0 {
		box-shadow: none;
	}

	&--dp1,
	&--hover1:hover {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: $transition-parameters;
	}

	&--dp2,
	&--hover2:hover {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		transition: $transition-parameters;
	}

	&.dp3,
	&.hover3:hover {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		transition: $transition-parameters;
	}

	&--dp4,
	&--hover4:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		transition: $transition-parameters;
	}

	&--dp5,
	&--hover5:hover {
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
		transition: $transition-parameters;
	}

	&--disabled,
	&--disabled:hover {
		box-shadow: none;
		opacity: 0.8;
		border: 1px $dermveda-gray solid;
	}

	&--disabledMinimal,
	--disabledMinimal:hover {
		box-shadow: none;
		opacity: 0.5;
		border: 1px $dermveda-gray solid;
	}

	&--enabledMinimal,
	&--enabledMinimal:hover {
		box-shadow: none;
		opacity: 0.8;
		border: 1px $dermveda-gray solid;
	}

	.flex {
		flex: 1;
	}
}
.dvc-pointer {
	cursor: pointer;
}
