@import './color-vars.scss';

.dvc-main-text {
	color: $dermveda-black;
}

.dvc-sub-text {
	color: $dermveda-gray;
}

.dvc-primary-text {
	color: $dermveda-green;

	& a {
		color: $dermveda-green;
	}
}
.dvc-white-text {
	color: $dermveda-white;
}

.dvc-red-text {
	color: $dermveda-red;
}
.dvc-primary-background {
	background-color: $dermveda-green !important;
}

.dvc-primary-links-inside {
	a,
	* > a {
		color: $dermveda-green;
	}
}
