@import './color-vars.scss';
$transition-parameters: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

.dvc-form-group {
	// border: none;
	// border-bottom: 1px solid #aaa;
	// border-radius: 0;
	// margin: 5px 0;
	margin-bottom: 0;
	label {
		font-size: 0.7rem;
		margin-bottom: 0;
	}
	input {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 1rem;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 0;
		&:focus {
			border: none;
			border-bottom: 1px solid;
			border-radius: 5px;
		}
	}

	&--caps {
		text-transform: uppercase;
	}

	&--caps::placeholder {
		text-transform: none;
	}

	&--billing {
		height: 30px;
	}

	&:focus {
		border-color: $dermveda-green;
	}

	&--error {
		border-color: $dermveda-red !important;

		&::-webkit-input-placeholder {
			color: $dermveda-red;
		}

		&::-moz-placeholder {
			color: $dermveda-red;
		}

		&:-ms-input-placeholder {
			color: $dermveda-red;
		}

		&:-moz-placeholder {
			color: $dermveda-red;
		}
	}
}

$spinnerColor: rgba(255, 255, 255, 0.5);
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.dvc-button {
	margin: 5px 0;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
	border-radius: 2px;
	font-family: 'Raleway', sans-serif;

	&:focus {
		outline-color: $dermveda-green;
		box-shadow: 0 0 0 2px rgba($dermveda-green, 25%);
	}

	&--is-link {
		&:hover,
		&:active,
		&:focus {
			color: #fff;
			span,
			i {
				color: #fff;
			}
		}
	}

	&--primary {
		color: #fff;
		span,
		i {
			color: #fff;
		}
		border: 0;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

		&:hover {
			transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		}
	}

	&--red {
		background-color: $dermveda-red;
	}

	&--secondary {
		background-color: transparent !important;
		&:hover,
		&:active,
		&:focus {
			color: unset;
			span,
			i {
				color: unset;
			}
		}
		&.dvc-button--red {
			color: $dermveda-red;
		}
	}

	&__loader {
		transition: 0.2s ease-in-out all;
		border: none;
		border-radius: 50%;
		margin-bottom: -2px;
		width: 0;
		height: 0;
		animation-name: spin;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		display: none;
		visibility: hidden;

		&--show {
			width: 15px;
			height: 15px;
			display: inline-block;
			visibility: visible;
			border: 2px solid $spinnerColor;
			border-top: 2px solid #f6f6f6;

			&--big {
				width: 25px;
				height: 25px;
			}
		}
	}
}

.dvc-secondary-color {
	color: $dermveda-green;
}

.dvc-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid rgba(0, 0, 0, 0.54);
	padding: 9px;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	margin-bottom: -3px;

	& + label {
		color: $dermveda-gray;
		padding-left: 8px;
	}

	&:disabled {
		border: 1px solid rgba(0, 0, 0, 0.26);

		& + label {
			cursor: not-allowed;
		}
	}

	&:checked {
		background-color: $dermveda-green;

		&:after {
			content: '\f00c';
			font: normal normal normal 14px/1 FontAwesome;
			position: absolute;
			top: 3px;
			left: 2px;
			color: #fff;
		}

		& + label {
			color: $dermveda-black;
		}
	}
}

.pointer {
	cursor: pointer;
}
