.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1900;

	&.fixed {
		position: fixed;
	}

	&.black {
		background: rgba(0, 0, 0, 0.8);
	}

	&.white {
		background: rgba(255, 255, 255, 0.8);
	}
}
