{
    "presets": [
        "env",
		"react",
		"stage-2"
	],
	"plugins": [
		"transform-object-rest-spread",
		"async-to-promises",
		["react-docgen"],
		["babel-plugin-styled-components", {
			"ssr": true
		}],
		["module-resolver", {
			"root": ["./src"],
			"alias": {
				"utils": "./src/utils",
				"theme": "./src/theme",
				"atoms": "./src/atoms",
				"styles": "./src/styles",
				"organisms": "./src/organisms",
				"static": "./src/static",
				"animations": "./src/animations",
				"img": "./src/img"
			}
		}]
	]
}
