a.nostyle {
	cursor: pointer;

	&:link {
		text-decoration: inherit;
		color: inherit;
		cursor: pointer;
	}

	&:visited {
		text-decoration: inherit;
		color: inherit;
		cursor: pointer;
	}
}

.wrap {
	white-space: normal;
}
